<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>--project-name</key>
    <string>Amplitude</string>
    <key>--project-company</key>
    <string>Amplitude Inc.</string>
    <key>--company-id</key>
    <string>com.amplitude</string>
    <key>--templates</key>
    <string>appledoc-templates</string>

    <key>--output</key>
    <string>doc</string>

    <key>--create-docset</key>
    <false/>

    <key>--create-html</key>
    <true/>

    <key>--ignore</key>
    <array>
        <string>Pods</string>
        <string>documentation</string>
        <string>build</string>
	      <string>AmplitudeTests</string>
	      <string>AmplitudeFramework</string>
	      <string>appledoc-templates</string>
        <string>*.framework</string>
	      <string>AMPDatabaseHelper.m</string>
	      <string>AMPURLConnection.m</string>
	      <string>SSLCertificatePinning</string>
    </array>

    <key>--exit-threshold</key>
    <integer>2<integer>

</dict>
</plist>
