name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: macos-10.14
    strategy:
      matrix:
        ruby-version: ["2.7.x"]
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2

    - name: Set Xcode
      run: |
        sudo xcode-select -switch /Applications/Xcode_12.app

    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    
    - name: Cache Cocoapods
      id: cache-gems-pods
      uses: actions/cache@v2
      with:
        path: |
          Pods
          vendor/bundle
        key: ${{ runner.os }}-ruby-${{ matrix.ruby-version }}-gems-${{ hashFiles('**/Gemfile.lock') }}-pods-${{ hashFiles('**/Podfile.lock') }}
    
    - name: Install Cocoapods
      if: steps.cache-gems-pods.outputs.cache-hit == 'false'
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install
        pod install

    - name: Build and run tests
      run: |    
        xcodebuild test \
          -workspace Amplitude.xcworkspace \
          -scheme Amplitude_iOSTests \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 11,OS=14.0'
